<div class="menu p-2" [ngClass]="{ closed: !sideBarOpen, open: sideBarOpen }">
  <div class="d-flex justify-content-between align-items-center text-white">
    <div *ngIf="sideBarOpen" class="fw-bold">Chapters</div>
    <div>
      <button (click)="onClick()" class="btn btn-dark">
        <img *ngIf="sideBarOpen" src="assets/arrow-left-to-line.svg" alt="" />
        <img *ngIf="!sideBarOpen" src="assets/arrow-right-to-line.svg" alt="" />
      </button>
    </div>
  </div>
  <div *ngIf="sideBarOpen">
    <a *ngFor="let route of routes" [routerLink]="route.path">
      <button type="button" class="btn btn-dark">{{ route.title }}</button>
    </a>
  </div>
  <div *ngIf="!sideBarOpen">
    <a routerLink="/">
      <button type="button" class="btn btn-dark">
        <img src="assets/home.svg" alt="" />
      </button>
    </a>
    <a routerLink="info">
      <button type="button" class="btn btn-dark">
        <img src="assets/info.svg" alt="" />
      </button>
    </a>
    <a routerLink="project">
      <button type="button" class="btn btn-dark">
        <img src="assets/bulb.svg" alt="" />
      </button>
    </a>
  </div>
</div>
