.menu {
    overflow: auto;
    height: 100vh;
    width: 240px;
    transition: all 0.2s ease-in-out;
    background-color: rgb(31, 31, 35);
}

.btn-dark {
    --bs-btn-bg: "";
    --bs-btn-border-color: "";
}

.btn {
    width: 100%;
}


.open {
    width: 240px;
}

.closed {
    width: 60px;
}