<div class="text-white pb-3 pt-2 container">
  <div class="fw-bold">
    <span style="color: rgb(222, 0, 45)">
      {{
        currentLanguage.getLanguage() === "en" ? "What is:" : "Che cos'è il:"
      }}
      <br
    /></span>
    Component Lifecycle
  </div>
  <p>
    {{
      currentLanguage.getLanguage() === "en"
        ? "A component goes through a defined series of phases from creation to   destruction, known as the"
        : "Un componente passa attraverso una serie definita di fasi, dalla creazione alla distruzione, note come"
    }}
    <span class="fw-bold">component lifecycle:</span>
  </p>
  <ol>
    <li class="fw-bold">
      {{ currentLanguage.getLanguage() === "en" ? "Creation:" : "Creazione:" }}
    </li>
    <ul>
      <li>
        <span class="fw-bold" style="color: rgb(222, 0, 45)">ngOnChanges:</span>
        {{
          currentLanguage.getLanguage() === "en"
            ? "Invoked when input properties change after initialization. Useful for reacting to external data changes."
            : "Invocato quando le proprietà di input cambiano dopo l'inizializzazione. Utile per reagire alle modifiche dei dati esterni."
        }}
      </li>
      <li>
        <span class="fw-bold" style="color: rgb(222, 0, 45)">ngOnInit:</span>
        {{
          currentLanguage.getLanguage() === "en"
            ? "Called after the component has been initialized and its view has been created. Perfect for fetching data, subscribing to events, and setting up initial state."
            : "Chiamato dopo che il componente è stato inizializzato e la sua vista è stata creata. Perfetto per recuperare dati, sottoscrivere eventi e impostare lo stato iniziale."
        }}
      </li>
    </ul>
    <li class="fw-bold pt-3">
      {{
        currentLanguage.getLanguage() === "en"
          ? "Change Detection:"
          : "Rilevamento delle modifiche:"
      }}
    </li>
    <ul>
      <li>
        <span class="fw-bold" style="color: rgb(222, 0, 45)">ngDoCheck:</span>
        {{
          currentLanguage.getLanguage() === "en"
            ? "Triggered after every change detection cycle. Often used for debugging or performance optimization."
            : "Attivato dopo ogni ciclo di rilevamento delle modifiche. Spesso utilizzato per il debug o l'ottimizzazione delle prestazioni."
        }}
      </li>
    </ul>
    <li class="fw-bold pt-3">
      {{
        currentLanguage.getLanguage() === "en"
          ? "View Updates:"
          : "Aggiornamenti della vista:"
      }}
    </li>
    <ul>
      <li>
        <span class="fw-bold" style="color: rgb(222, 0, 45)"
          >ngAfterContentChecked:</span
        >
        {{
          currentLanguage.getLanguage() === "en"
            ? "Called after content children (components projected through"
            : "Richiamato dopo che i figli del contenuto (componenti proiettati tramite"
        }}
        <span class="fw-bold" style="color: rgb(222, 0, 45)">ng-content</span>
        {{
          currentLanguage.getLanguage() === "en"
            ? ") have been checked."
            : ") sono stati controllati."
        }}
      </li>
      <li>
        <span class="fw-bold" style="color: rgb(222, 0, 45)"
          >ngAfterViewInit:</span
        >
        {{
          currentLanguage.getLanguage() === "en"
            ? "Invoked after the component's view (including child components) has been fully initialized. Ideal for accessing or manipulating DOM elements directly."
            : "Richiamato dopo che la vista del componente (compresi i componenti figli) è stata completamente inizializzata. Ideale per accedere o manipolare direttamente gli elementi del DOM."
        }}
      </li>
    </ul>
    <li class="fw-bold pt-3">
      {{
        currentLanguage.getLanguage() === "en"
          ? "Changes and Destruction:"
          : "Modifiche e distruzione:"
      }}
    </li>
    <ul>
      <li>
        <span class="fw-bold" style="color: rgb(222, 0, 45)">ngOnChanges:</span>
        {{
          currentLanguage.getLanguage() === "en"
            ? "Called again if input properties change again after initialization."
            : "Richiamato se le proprietà di input cambiano di nuovo dopo l'inizializzazione."
        }}
      </li>
      <li>
        <span class="fw-bold" style="color: rgb(222, 0, 45)">ngOnDestroy:</span>
        {{
          currentLanguage.getLanguage() === "en"
            ? "Triggered just before the component is destroyed. Used for cleaning up resources like subscriptions, timers, and event listeners."
            : "Richiamato appena prima che il componente venga distrutto. Utilizzato per ripulire risorse come sottoscrizioni, timer e ascoltatori di eventi."
        }}
      </li>
    </ul>
    <li class="fw-bold pt-3">
      {{
        currentLanguage.getLanguage() === "en"
          ? "Additional hooks:"
          : "Ganci aggiuntivi:"
      }}
    </li>
    <ul>
      <li>
        <span class="fw-bold" style="color: rgb(222, 0, 45)">
          constructor:</span
        >
        {{
          currentLanguage.getLanguage() === "en"
            ? "Typically used for injecting dependencies and performing basic setup."
            : "Solitamente utilizzato per iniettare le dipendenze ed eseguire la configurazione di base."
        }}
      </li>
      <li>
        <span class="fw-bold" style="color: rgb(222, 0, 45)"
          >ngAfterViewChecked:</span
        >
        {{
          currentLanguage.getLanguage() === "en" ? "Similar to" : " Simile a "
        }}

        <span class="fw-bold" style="color: rgb(222, 0, 45)"
          >ngAfterViewInit</span
        >
        {{
          currentLanguage.getLanguage() === "en"
            ? ", but occurs after change detection has completed."
            : ", ma avviene al termine del rilevamento delle modifiche."
        }}
      </li>
    </ul>
  </ol>
</div>
