<h4 class="pt-2">
  <i
    class="fa-solid fa-caret-right fa-xs pe-1"
    style="color: rgb(222, 0, 45)"
  ></i
  >Variable Template
</h4>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">{{
    currentLanguage.getLanguage() === "en" ? "Example" : "Esempio"
  }}</label>
  <div class="row g-3">
    <div class="col-3">
      <input
        #inputValue
        value=""
        type="text"
        class="form-control"
        placeholder="{{
          currentLanguage.getLanguage() == 'en'
            ? 'Write your name'
            : 'Scrivi il tuo nome'
        }} "
        aria-label="Write"
      />
    </div>
    <div class="col-6">
      <button (click)="onClick()" class="btn btn-danger">
        {{ currentLanguage.getLanguage() === "en" ? "Confirm" : "Conferma" }}
      </button>
    </div>
  </div>

  <div *ngIf="divTrue" class="text-success pt-1">
    <div *ngIf="currentLanguage.getLanguage() === 'en'">
      Hi {{ name }} i will contact you as soon as possible
      <span class="text-danger"> (don't worry, it is false)</span>
    </div>
    <div *ngIf="currentLanguage.getLanguage() === 'it'">
      Ciao {{ name }} ti contatterò il prima possibile
      <span class="text-danger"> (non preoccuparti, è falso)</span>
    </div>
  </div>

  <div *ngIf="divFalse" class="text-danger pt-1">
    {{
      currentLanguage.getLanguage() === "en"
        ? " You didn't write anything, come on try"
        : "Non hai scritto nulla, dai, provaci."
    }}
  </div>
</div>
