<h4>
  <i
    class="fa-solid fa-caret-right fa-xs pe-1"
    style="color: rgb(222, 0, 45)"
  ></i
  >Directive
</h4>
<label for="formGroupExampleInput" class="form-label">Example</label>
<div class="mb-3">
  <div class="d-flex">
    <div>
      <div>Choose <span class="fw-bold">border color</span> at hover</div>
      <div class="form-check form-check-inline ms-2 pb-1 pt-1">
        <input
          class="form-check-input checked-red focus-red"
          type="radio"
          (click)="changeBorderColor('1px solid rgb(222, 0, 45)')"
          name="border_color"
          checked
        />
        <label class="form-check-label" for="inlineRadio2">Red</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input checked-purple focus-purple"
          type="radio"
          name="border_color"
          (click)="changeBorderColor('1px solid purple')"
        />
        <label class="form-check-label" for="inlineRadio1">Purple</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          (click)="changeBorderColor('1px solid blue')"
          name="border_color"
        />
        <label class="form-check-label" for="inlineRadio2">Blue</label>
      </div>
    </div>
    <div>
      <div>Choose <span class="fw-bold">text color </span> at hover</div>
      <div class="form-check form-check-inline ms-2 pb-1 pt-1">
        <input
          class="form-check-input checked-red focus-red"
          type="radio"
          (click)="changeTextColor('red')"
          name="color_text"
          checked
        />
        <label class="form-check-label" for="inlineRadio2">Red</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input checked-purple focus-purple"
          type="radio"
          (click)="changeTextColor('purple')"
          name="color_text"
        />
        <label class="form-check-label" for="inlineRadio1">Purple</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          (click)="changeTextColor('blue')"
          name="color_text"
        />
        <label class="form-check-label" for="inlineRadio2">Blue</label>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link fw-bold"
              aria-current="page"
              [borderColor]="borderColor"
              [textColor]="textColor"
              href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link fw-bold"
              [borderColor]="borderColor"
              [textColor]="textColor"
              href="#"
              >Info</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link fw-bold"
              [borderColor]="borderColor"
              [textColor]="textColor"
              href="#"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
