.navbar {
    background-color: rgb(24, 24, 27);
    padding: 0rem;
    width: 100%;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .9), 0 0px 2px rgba(0, 0, 0, .9);
}

.btn-dark {
    --bs-btn-bg: "";
    --bs-btn-border-color: "";

}