<h4 class="pt-2">
  <i
    class="fa-solid fa-caret-right fa-xs pe-1"
    style="color: rgb(222, 0, 45)"
  ></i
  >NGFOR
</h4>
<div class="pb-2">
  <span class="fw-bold">Example of ngFor:</span> <br />
  My <span class="fw-bold" style="color: rgb(222, 0, 45)">Skills</span>:
</div>
<div class="row row-cols-sm-3 row row-cols-md-5 g-4 align-items-center">
  <div *ngFor="let skill of skills" class="col">
    <div>
      <img src="{{ skill }}" class="card-img-top" alt="..." />
    </div>
  </div>
</div>
