<h4 class="pt-2">
  <i class="angular-color fa-solid fa-caret-right fa-xs pe-1"></i>Child to
  Parent
</h4>
<div class="pb-2">
  <span class="fw-bold">
    {{ currentLanguage.getLanguage() === "en" ? "Example of" : "Esempio di" }}
    Child to Parent:</span
  >
  <br />
  {{ currentLanguage.getLanguage() === "en" ? "My" : "La mia" }}
  <span class="fw-bold angular-color">
    {{
      currentLanguage.getLanguage() === "en" ? "Experience " : "Esperienza"
    }}</span
  >:
  <div class="pt-2">
    <app-child-send
      (sendData)="receiveDataFromTheChild($event)"
    ></app-child-send>
    <div class="pt-2">
      <div class="fw-bold">{{ myExperience.title }}</div>
      <div *ngIf="isTrue" class="d-flex align-items-center pt-1">
        <img [src]="myExperience.logo_company" alt="" />
        <div class="ps-1">
          {{ myExperience.company_name }}
          | {{ myExperience.year }}
        </div>
      </div>
      <p>
        {{
          currentLanguage.getLanguage() === "en"
            ? myExperience.description.en
            : myExperience.description.it
        }}
      </p>
    </div>
  </div>
</div>
