<main class="text-white pb-3">
  <div class="container">
    <div class="row row-cols-1 row-cols-xl-2 g-4">
      <app-component-lifecycle class="col"></app-component-lifecycle>
      <div class="col">
        <app-string-interpolation></app-string-interpolation>
        <app-event-binding></app-event-binding>
        <app-two-way-binding></app-two-way-binding>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <app-property-binding></app-property-binding>
    </div>
  </div>
</main>
