<h4 class="pt-2">
  <i
    class="fa-solid fa-caret-right fa-xs pe-1"
    style="color: rgb(222, 0, 45)"
  ></i
  >NGIF
</h4>
<div class="pb-2">
  {{ currentLanguage.getLanguage() == "en" ? "Example" : "Esempio" }}
</div>
<button (click)="clickForTrue()" class="btn btn-success me-2">
  {{ currentLanguage.getLanguage() == "en" ? "True" : "Vero" }}
</button>
<button (click)="clickForFalse()" class="btn btn-danger">
  {{ currentLanguage.getLanguage() == "en" ? "False" : "Falso" }}
</button>
<div *ngIf="isVisible; then divTrue; else divFalse"></div>
<ng-template #divTrue>
  <div class="text-success fw-bold pt-2">
    {{ currentLanguage.getLanguage() == "en" ? "True" : "Vero" }}
  </div></ng-template
>
<ng-template #divFalse
  ><div class="text-danger fw-bold pt-2">
    {{ currentLanguage.getLanguage() == "en" ? "False" : "Falso" }}
  </div>
</ng-template>
