.flag {
    position: absolute;
    rotate: 90deg;
    bottom: 110px;
    left: -55px;
}

.flag-img {
    width: 60px;
    transition: 0.5s;
}

.flag-img:hover {
    transform: translateY(-7px);
}

img {
    width: 100%;
}