<h4>
  <i class="fa-solid fa-caret-right fa-xs pe-1 angular-color"></i>Two-Way
  Binding
</h4>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">{{
    currentLanguage.getLanguage() === "en" ? "Example" : "Esempio"
  }}</label>
  <div class="row g-3">
    <div class="col-3">
      <input
        type="text"
        [(ngModel)]="
          currentLanguage.getLanguage() === 'en' ? bindingEn : bindingIt
        "
        class="form-control"
        placeholder="{{
          currentLanguage.getLanguage() === 'en' ? 'Write' : 'Scrivi'
        }}"
        aria-label="Write"
      />
    </div>
    <div class="col-6">
      <button class="btn btn-danger" (click)="onClick()">
        {{
          currentLanguage.getLanguage() === "en"
            ? "Click to change"
            : "Clicca per cambiare"
        }}
      </button>
    </div>
  </div>
  <div class="pt-2">
    {{ currentLanguage.getLanguage() === "en" ? bindingEn : bindingIt }}
  </div>
</div>
