<h4 class="pt-2">
  <i class="fa-solid fa-caret-right fa-xs pe-1 angular-color"></i>NGFOR
</h4>
<div class="pb-2">
  <span class="fw-bold"
    >{{
      currentLanguage.getLanguage() == "en" ? "Example of" : "Esempio di"
    }}
    ngFor:</span
  >
  <br />
  {{ currentLanguage.getLanguage() == "en" ? "My " : "Le mie " }}
  <span class="fw-bold angular-color">
    {{ currentLanguage.getLanguage() == "en" ? "Skills" : "Competenze " }}</span
  >:
</div>
<div class="row row-cols-sm-3 row row-cols-md-5 g-4 align-items-center">
  <div *ngFor="let skill of skills" class="col">
    <div>
      <img src="{{ skill }}" class="card-img-top" alt="..." />
    </div>
  </div>
</div>
